@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.homediv{
    background-image:url('./images/banner2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    width: 99vw;
}
 .burger img{
    position: absolute;
    top:10px;
    right:3vw;
    height: 25px;
    
}
.navlinks{
    padding: 3vw;
    text-align: right;
    font-size: 1.5vw;
    list-style: none;
    display: flex;
    justify-content: right;
}
.navlinks img{
    position: absolute;
    top: 0px;
    left: 2vw;
    height: 100px;
}
 .navlinks a{
     text-decoration: none;
     color: white;
     padding: 0.6vw 2vw ;  
 }
 .navlinks a:hover{
     background-color: #0dd4f3;
     border-radius: 2vw;
     animation: mymove 0.4s;
 }
 .navlinks a.active{
    background-color: #0dd4f3;
    border-radius: 2vw;
    animation: mymove 0.4s;
  
}
 @keyframes mymove {
     from{border-radius: 1vw;}
     to{border-radius: 2vw;}
 }
.centerdiv {text-align: center;
    padding-top: 10vw;
    position: relative;
    animation: ex 1s;
}
@keyframes ex{
    from{ left: 20vw ;}
    to{left:0vw;}
}
.centerdiv span{
    font-size: 80px;
    font-family: arial;
    color: #0dd4f3 ; 
    text-transform: uppercase;
}
.centerdiv h1{
    font-size: 100px;
    color:white;
    font-style: bold;  
}
.centerdiv p{
    color:white;
    font-style: italic;
    font-size: 24px;
    font-family: cursive;  
}
.ticketlink{
    display:flex;
    text-align: center;
    justify-content: center;
    margin-top: 5vw;
}
.ticketlink a{
    
    background-color: white;
    border-radius: 3vw; 
    color: black;
    padding: 1vw 2vw 1vw 2vw ;
    text-decoration: none;
}
.ticketlink a.a1{
    padding: 1vw 5vw 1vw 5vw ;
    margin-left: .5vw;
}
.ticketlink a.a2{
    padding: 1vw 5.6vw 1vw 5.6vw ;
    margin-left: .5vw;
}
.ticketlink a:hover{
    background-color: #0dd4f3;
}

.aboutsection {
    background:url('./images/about_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 99vw;
}
.firsthalf{
    position: absolute;
    top: 880px;
    left: 5vw;
    width: 40%;
}
.firsthalf span{
    font-size: 6vw;
    line-height: 2vw; 
}
.firsthalf p{
    padding-top: 3vw;
    font-size: 1.4vw;
     line-height: 28px;
     font-family: monospace;
}
.sechalf{
    position: absolute;
    left: 50vw;
    top: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
.sechalf img{
    width: 42vw;
}
.concert{
    height: 640px;
    width: 99vw;
}
.firsthalfcon{
    position:absolute;
    top: 1550px;
    left: 10vw;
    width: 35%;
}
.firsthalfcon span{
    font-size: 6vw;
    line-height: 6vw;
}
.firsthalfcon p,ul{
    padding-top: 3vw;
    font-size: 1.4vw;
    line-height: 28px;
    font-family: monospace;
}
.sechalfcon{
    position: absolute;
    left: 45vw;
    top: 1500px;
}
.sechalfcon img{
    width: 54vw;
    height: 44vw;
}
.gallery{
    height: 640px;
    width: 99vw;
    background-color: #ececec;
}
.firsthalfgal{
    margin: 30px;
}
.img1 img{
  margin:15px;
    width:26vw;
    height:auto
}
.img2 img{
    flex-direction: row;
    width:26vw;
    margin:15px;
}
.firsthalfgal img:hover{
    opacity: 90%;
    transform: scale(1.15);
}
.sechalfgal{
    position:absolute;
    top: 2220px;
    right:7vw;
    width:27%
}
.sechalfgal span{
    font-size: 6vw;
    line-height: 6vw;
}
.sechalfgal p{
    padding-top: 3vw;
    font-size: 1.4vw;
    line-height: 28px;
    font-family: monospace;
}
.contact{
    text-align: center;
    background-color: black;
    border-bottom: white;
    padding-bottom: 3vw;
}
.contact h1{
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 2vw;
    font-size: 6vw;
}
.contact input{
    padding: 1vw;
}

.contact .fn{
margin-right: 4px;

}
.send{
   font-size: 1.3vw;
   padding: 1vw 3.5vw 1vw 3.5vw ;
   border-radius: 2vw;
   margin-bottom: 1vw;
   border: none;
   cursor: pointer;
   
}
.send:hover{
    background-color: #0dd4f3;
}
.contact hr{
    
    color:grey;
    background-color:grey;
    margin: 3vw;
 
}
.contact h3{
    color: white;
    position: absolute;
    left: 21.7vw;
}
.contact .newsletter{
    margin-top: 1vw;  
    margin-left: 3vw;  
}
 .submit{
    padding: 1vw 2.5vw 1vw 2.5vw ;
    margin-right: 1vw;  
    background-color: #0dd4f3; 
    border: none;
    color: white;
    font-size: medium;
    cursor:pointer;
   
}
.loca{
    font-size: 1.5vw;
    list-style: none;
    display: flex;
    justify-content: center; 
}
ul.loca li{
    color: white;
    padding: 2vw; 
    text-align: left; 
}
.loca img{
    padding: 0.3vw;
    margin-top:-2vw;
}
.social{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: -0.5vw;
    height: 20px;
}   
.social img{
    width:3vw;
    margin: 0.3vw;
}

@media screen and (min-width:576px) {
    .burger img{display: none;}
    
}
@media screen and (max-width: 1313px) and (min-width: 846px) {
    .centerdiv h1{font-size: 70px;}
    .navlinks img{height: 80px;}
    .burger img{display:none;}
}
@media screen and (max-width: 846px) {
    .navlinks img{height: 60px;}
    .centerdiv span{font-size: 32px;}
    .centerdiv h1{font-size: 50px;}
    .burger img{display:none;}
    .firsthalf{font-size: 1.2vw;line-height:0px;width: 50%;}
    .sechalf{position: absolute;left: 55vw;top: 820px;}
}
@media screen and (max-width: 576px) {
    .centerdiv h1{font-size: 35px;}
    .navlinks {flex-direction: column;font-size: 20px;}
    .navlinks li{padding: 1vw;}
    .navlinks img{height:40px ;}
    .vnav a{opacity: 0;}
    .burger img{display:block;}
    .firsthalf{font-size: 0.8vw;width: 50%;}
    .sechalf{position: absolute;left: 55vw;top: 880px;}

}