@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.homediv{
    background-image:url('./images/banner2.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    height: 750px;
    width: 99vw;
}
.navlinks{
    padding: 3vw;
    text-align: right;
    font-size: 1.5vw;
    list-style: none;
    display: flex;
    justify-content: right;
}
 .navlinks a{
     text-decoration: none;
     color: white;
     padding: 0.6vw 2vw ;  
 }
 .navlinks a:hover{
     background-color: #0dd4f3;
     border-radius: 2vw;
     animation: mymove 0.4s;
 }
 .navlinks a.active{
    background-color: #0dd4f3;
    border-radius: 2vw;
    animation: mymove 0.4s;
  
}
 @keyframes mymove {
     from{border-radius: 1vw;}
     to{border-radius: 2vw;}
 }
.centerdiv {text-align: center;
    padding-top: 10vw;
    position: relative;
    animation: ex 1s;
}
@keyframes ex{
    from{ left: 20vw ;}
    to{left:0vw;}
}
.centerdiv span{
    font-size: 6vw;
    font-family: arial;
    color: #0dd4f3 ; 
    text-transform: uppercase;
}
.centerdiv h1{
    font-size: 8vw;
    color:white;
    font-style: bold;  
}
.centerdiv p{
    color:white;
    font-style: italic;
    font-size: 2vw;
    font-family: cursive;  
}
.ticketlink a{
    text-align: center;
    position:absolute;
    top: 600px;
    left: 32vw;
    background-color: white;
    border-radius: 3vw; 
    color: black;
    padding: 1vw 2vw 1vw 2vw ;
    text-decoration: none;
}
.ticketlink a.a1{
    position:absolute;
    top: 600px;
    left: 49vw; 
    padding: 1vw 5vw 1vw 5vw ;
}
.ticketlink a:hover{
    background-color: #0dd4f3;
}

.aboutsection {
    background:url('./images/about_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 99vw;
}
.firsthalf{
    position: absolute;
    top: 880px;
    left: 5vw;
    width: 40%;
}
.firsthalf span{
    font-size: 6vw;
    line-height: 2vw; 
}
.firsthalf p{
    padding-top: 3vw;
    font-size: 1.4vw;
     line-height: 28px;
     font-family: monospace;
}
.sechalf{
    position: absolute;
    left: 50vw;
    top: 770px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
.sechalf img{
    width: 42vw;
}
.contact{
    text-align: center;
    background-color: black;
    border-bottom: white;
    padding-bottom: 3vw;
}
.contact h1{
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 2vw;
    font-size: 6vw;
}
.contact input{
    padding: 1vw;
}

.contact #msg{
 padding: 1vw 32.2vw 5vw 1.2vw;
 color: rgb(49, 48, 48) ;
}
.send{
   font-size: 1.3vw;
   padding: 1vw 3.5vw 1vw 3.5vw ;
   border-radius: 2vw;
   margin-bottom: 1vw;
   border: none;
   
}
.send:hover{
    background-color: #0dd4f3;
}
.contact hr{
    
    color:grey;
    background-color:grey;
    margin: 3vw;
 
}
.contact h3{
    color: white;
    position: absolute;
    left: 21.7vw;
}
.contact .newsletter{
    margin-top: 1vw;    
}
 .submit{
    padding: 1vw 2.5vw 1vw 2.5vw ;
    margin-left: -2vw;  
    background-color: #0dd4f3; 
    border: none;
    color: white;
    font-size: medium;
    
}
.loca{
    font-size: 1.5vw;
    list-style: none;
    display: flex;
    justify-content: center; 
}
ul.loca li{
    color: white;
    padding: 1vw;  
}
.loca img{
    padding: .9vw;
    margin-top:2vw;
}
.social{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 25px;
    height: 20px;
}   
.social img{
    width:40px;
    margin: 3px;
}



